	<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%" BGCOLOR="#FFFFFF">
	<TR>
		<TD ALIGN=CENTER>
		<DIV><IMG SRC="/images/spacer.gif" WIDTH=1 HEIGHT=15></DIV>
		<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="747">
		<TR VALIGN=TOP>
			<TD>
	
		<DIV><A HREF="../gallery/"><IMG SRC="/images/titles/gallery.gif" WIDTH="190" HEIGHT="48" ALT="gallery" BORDER="0"></A></DIV>
		
		<DIV><IMG SRC="/images/spacer.gif" WIDTH=1 HEIGHT=5></DIV>
		
			<DIV>
			<A HREF="../gallery/default.asp"><IMG SRC="/images/btn_camgallery.gif" WIDTH="92" HEIGHT="32" ALT="Cam Gallery" BORDER="0"></A><IMG SRC="/images/spacer.gif" WIDTH=6 HEIGHT=1><A HREF="../gallery/photoalbum.asp"><IMG SRC="/images/btn_photoalbum_on.gif" WIDTH="92" HEIGHT="32" ALT="Photo Album" BORDER="0"></A>
			</DIV>
			<FORM METHOD=POST ACTION="../gallery/photobrowse.asp">
			
	<TABLE BORDER=0 CELLPADDING="4" CELLSPACING=0 WIDTH="190" STYLE="border: 1px solid #DDDDDD;"><TR><TD>
	<TABLE BORDER=0 CELLPADDING="2" CELLSPACING=0 WIDTH="100%">
<TR VALIGN=TOP>
<TD CLASS="formcaption">Photo Album Search</TD>
</TR>
<TR VALIGN=TOP>
<TD CLASS="formcell">Keyword Search:<BR><INPUT TYPE="TEXT" NAME="kw" SIZE=15 MAXLENGTH=25 VALUE="" STYLE="width:165px;"></TD>
</TR>
<TR VALIGN=TOP>
<TD CLASS="formcell"><SELECT NAME="pp"  STYLE="width:165px;">
<OPTION VALUE="12" SELECTED>12 images per page
<OPTION VALUE="20">20 images per page
<OPTION VALUE="40">40 images per page
<OPTION VALUE="80">80 images per page
</SELECT>
</TD>
</TR>
<TR VALIGN=TOP>
<TD><IMG SRC="/images/spacer.gif" WIDTH=1 HEIGHT=5></TD></TR>
<TR VALIGN=TOP>
<TD CLASS="formsubmitrow" ALIGN=CENTER><INPUT TYPE=SUBMIT CLASS="button" VALUE="Search Photo Album"></TD>
</TR>
</TABLE>
</TD></TR></TABLE>

			</FORM>
			<DIV CLASS="disabled">
			Use this form to do a keyword search across all photo album events.
			</DIV>
			
		<DIV>&nbsp;</DIV>
		</TD>
		<TD><IMG SRC="/images/spacer.gif" WIDTH=20 HEIGHT=1></TD>
		<TD WIDTH="535">
		
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="535">
<TR>
	<TD>
	<DIV CLASS="pagetitle"><A HREF="../gallery/photobrowse.asp?eventid=508"><!-- TMPL_VAR NAME=title --></A></DIV>
	</TD>
	<TD ALIGN=RIGHT><NOBR><A HREF="../gallery/photobrowse.asp?eventid=508&pp=12&order=DESC&kw=&page=1"><IMG SRC="/images/icons/thumbnails.gif" WIDTH="15" HEIGHT="12" ALT="Back to Thumbnails" BORDER="0" ALIGN=ABSMIDDLE HSPACE=5>Back to Thumbnail View</A></NOBR></TD>
</TR>
</TABLE>
<DIV>Sunday, August 26, 2001</DIV>
<DIV>&nbsp;</DIV>
<DIV CLASS="disabled"><!-- TMPL_VAR NAME=gallery_description --></DIV>
<DIV>&nbsp;</DIV>
<DIV CLASS="bodytext">
Viewing <B>3</B> of <B>16</B> photos
	in this event.
	
</DIV>

<DIV><IMG SRC="/images/spacer.gif" WIDTH=1 HEIGHT=5></DIV>
<DIV CLASS="bodytext">
		<A HREF="photo.asp?id=510&eventid=508&pp=12&order=DESC&kw=&page=1">&lt; Previous Photo</A>
		 : 
		<A HREF="photo.asp?id=509&eventid=508&pp=12&order=DESC&kw=&page=1">First Photo in Event</A>
		 : 
		<A HREF="photo.asp?id=512&eventid=508&pp=12&order=DESC&kw=&page=1"><B>Next Photo &gt;</B></A>
		</DIV>
<DIV>&nbsp;</DIV>

	<TABLE BORDER=0 CELLPADDING="4" CELLSPACING=0 WIDTH="500" STYLE="border: 1px solid #DDDDDD;"><TR><TD>
	<TABLE BORDER=0 CELLPADDING="2" CELLSPACING=0 WIDTH="100%">
<TR VALIGN=TOP>

	<TD><IMG SRC="/images/photoalbum/pixel01/pix3.jpg" WIDTH="500" HEIGHT="375" BORDER=1></TD>
</TR>
<TR>
	<TD CLASS="bodytext">
	<DIV>&nbsp;</DIV>
	<DIV CLASS="bodytext"><!-- TMPL_VAR NAME=description --></DIV>
	<DIV>&nbsp;</DIV>
	</TD>
</TR>
</TABLE>
</TD></TR></TABLE>

<DIV>&nbsp;</DIV>
<DIV CLASS="bodytext">
		<A HREF="photo.asp?id=510&eventid=508&pp=12&order=DESC&kw=&page=1">&lt; Previous Photo</A>
		 : 
		<A HREF="photo.asp?id=509&eventid=508&pp=12&order=DESC&kw=&page=1">First Photo in Event</A>
		 : 
		<A HREF="photo.asp?id=512&eventid=508&pp=12&order=DESC&kw=&page=1"><B>Next Photo &gt;</B></A>
		</DIV>
				<DIV><IMG SRC="/images/spacer.gif" WIDTH=1 HEIGHT=15></DIV>
				
			</TD>
		</TR></TABLE></TD>
	</TR>
	</TABLE>
